* {
    margin: 0;
    border: 0;
  }
  .App {
      text-align: center;
      background-color: #282c34;
  
  
    }
    
    .App p {
      margin: 0.4rem;
    }
   
    
    
    .App-header {
      background-color: #282c34;
      min-height: 20vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
    }
    
   
    .card1{
      background-color: red;
      width: 100%;
      min-height: 500px;
      max-width: 300px;
      text-transform: uppercase;
    }
  
  
    .card2{
      background-color:orange ;
      width: 100%;
      min-height: 500px;
      max-width: 300px;
    
      text-transform: uppercase;  
    }
  
    .card3{
      background-color:green ;
      width: 100%;
      min-height: 500px;
      max-width: 300px;
      text-transform: uppercase;  
    }
  
  
    .card{
      display: flex;
      justify-content: center;
      justify-content: space-around;
      padding-top: 20px;
  
    }
  
  
    li{
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
  
    
  
    body{
      background-color: #282c34;
  
    }

    main{
      padding-top: 15px;


    }