.card{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 20px;

  }

  .card4{
    background-color:red ;
    width: 100%;
    min-height: 500px;
    max-width: 300px;
    text-transform: uppercase;  
    text-align: center;
  }